div.container {
  background: linear-gradient(to right, #232526, #414345);
  position: relative;
}
form.edit-form,
form.create-form {
  border-radius: 10px;
  padding: 20px 10px;
  width: 300px;
  background-color: white;
  text-align: center;
  margin: auto auto;
  animation: fadeIn 250ms;
  position: relative;
  top: 0;
  left: 0%;
  right: 0%;
}

form h3 {
  margin-bottom: 20px;
}
form.edit-form input,
form.create-form input {
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px auto 20px auto;
  text-align: center;
  border: none;
  border-bottom: 1px rgb(58, 58, 58) solid;
}
form.edit-form input:focus,
form.create-form input:focus {
  outline: none;
  box-shadow: 0 1px 1px rgb(51, 51, 51);
}

form.edit-form button,
form.create-form button {
  margin: 0 0;
}
