* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgb(78, 78, 78);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
